@charset "UTF-8";

/*=====================

	デザイン用CSS

	＜注意点＞
	記事一覧ページやお問い合わせ等、他テンプレートページに影響が出ないように実装して下さい。
	例：ページごとにIDで囲う、class名を出来るだけユニークなもので設定する

=====================*/

$font-Noto-jp: "Noto Sans JP", sans-serif;
$font-Roboto: "Roboto", sans-serif;
$font-Work-sans: "Work Sans", sans-serif;
$base-text: #453112;
$primary-color: #00523f;
$orange-color: #d56134;
$line-color: #2aae42;
$green-color: #00523f;
$base-color: #f7f4e9;

//breakpoint設定
/************************************************************/
$breakpoint-header: 1340px; //header-menu用
$breakpoint-lg: 1280px; //large_pc
$breakpoint-md: 1080px; //medium_tab
$breakpoint-sm: 768px; //small_sp
$breakpoint-s: 640px;
$breakpoint-xs: 480px; //sp

// $break-point以下の時に@contentを適用
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

// $break-point以上の時に@contentを適用
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

// $break-point-min以上、$break-point-max以下の時に@contentを適用
@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

.u-sp {
  display: none;

  @include max-screen($breakpoint-xs) {
    display: block;
  }
}

.u-pc {
  display: block;

  @include max-screen($breakpoint-xs) {
    display: none !important;
  }
}
.u-bg-orange {
  background-color: $orange-color !important;
}
.u-bg-line {
  background-color: $line-color !important;
}
// レイアウト
.l-container {
  max-width: 1200px;
  margin-inline: auto;

  @include max-screen($breakpoint-lg) {
    padding: 0 4%;
  }
}
body {
  padding-top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-feature-settings: "palt" 1;
  font-family: $font-Noto-jp;
  color: $base-text;
  background-color: $base-color;
  overflow-x: hidden;
  line-height: 1.4;
}

@include min-screen($breakpoint-sm) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

// 共通ボタン
.c-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
  margin: 0 auto;
  padding: 16px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  background-color: #5d4f3a;
  border-radius: 32px;
  z-index: 1;
  letter-spacing: 0.1em;
  line-height: 1;
}
.c-btn--circle {
  position: absolute;
  right: 12px;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .c-btn--circle-arrow {
    position: relative;
    display: inline-block;
    width: 12px;
  }
  .c-btn--circle-arrow img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.c-btn:hover .c-btn--circle-arrow img {
  animation: 0.4s ease 0s 1 normal none running lefttoright;
}
@keyframes lefttoright {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  49% {
    transform: translateX(110%);
    opacity: 0;
  }
  50% {
    transform: translateX(-110%);
    opacity: 0;
  }
  51% {
    transform: translateX(-110%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// サークルラインありボタン
.c-btn--line {
  display: block;
  width: fit-content;
  margin-top: 60px;
  margin-inline: auto;
  border: none;

  .c-btn--lineCircle {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px 10px 8px 32px;
    font-size: 1.8rem;
    font-weight: 700;
    color: $green-color;
    background-color: #fff;
    border-radius: 100px;
    border: 1px solid $green-color;
    z-index: 1;
    letter-spacing: 0.1em;
    line-height: 1;

    .c-btn--arrows {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background-color: $green-color;
      border-radius: 50%;

      .c-btn--arrows-right {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        line-height: 1;
        position: relative;
        width: 0.6em;
        height: 0.6em;
        transform: translateX(-25%) rotate(45deg);
      }
      .c-btn--arrows-right::before,
      .c-btn--arrows-right::after{
        content: '';
        position: absolute;
        background: currentColor;
        border-radius: 0.1em;
      }
      .c-btn--arrows-right::before {
        top: 0;
        left: 0;
        right: 0;
        height: 0.1em;
      }
      .c-btn--arrows-right::after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 0.1em;
      }
    }
  }  
}

//================================================
// 共通コンポーネント
//================================================
.c-title {
  margin-bottom: 60px;
  text-align: center;
  @include max-screen($breakpoint-sm) {
    margin-bottom: 40px;
  }

  .c-title--jp {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    gap: 24px;
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: $primary-color;
    @include max-screen($breakpoint-sm) {
      font-size: 2rem;
      line-height: 1.6;
      gap: 16px;
    }
  }

  .c-title--en {
    display: block;
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $font-Work-sans;
    color: $orange-color;
    letter-spacing: 0.2em;
    line-height: 1;

    @include max-screen($breakpoint-sm) {
      margin-bottom: 40px;
      font-size: 1rem;
      line-height: 2;
    }
    
  }

  .c-title__desc {
    font-size: 1.6rem;
    font-weight: 700;
    @include max-screen($breakpoint-sm) {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}


/* =================================================================
  header /  ヘッダー
================================================================= */
.header.scroll {
  background-color: rgba(247, 246, 240, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
.header.scroll .header-nav .header-nav__list,
.header.scroll .header-nav > li {
  color: $primary-color;
}
.header.scroll .header-button span {
  background-color: $primary-color;
}
.header.scroll .tel-icon .path01,
.header.scroll .tel-icon .path02 {
  stroke: $primary-color;
}
.header.scroll .tel-icon .path03 {
  fill: $primary-color;
}
.header.scroll
  .header-wrapper
  .header-nav
  .header-nav__list
  .header-nav__link
  > a::after {
  border-color: $primary-color;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 9998;

  @include min-screen($breakpoint-sm) {
    align-items: center;
  }
  @include max-screen($breakpoint-sm) {
    background-color: $base-color;
  }
  .tel-icon img {
    display: block;
  }
  .header-wrapper {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 4%;
    @include max-screen($breakpoint-sm) {
      padding: 16px 4%;
    }
    .header-logo {
      img {
        width: 154px;

        @include max-screen($breakpoint-sm) {
          width: 100px;
        }
        @include max-screen($breakpoint-s) {
          width: 53px;
        }
      }
    }
    .header-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;
    }
    .header-nav {
      display: flex;
      gap: 40px;
      align-items: center;
      height: 100%;

      @include max-screen($breakpoint-lg) {
        display: none;
      }

      .header-nav__list {
        display: flex;
        align-items: center;
        gap: 32px;

        a {
          display: block;
          align-content: center;
          height: 6.25rem;
          padding: 0;
          font-size: clamp(1rem, 0.9vw, 1.5rem);
          font-weight: bold;
          transition: color 1s;
          transition: all 0.3s ease;
        }

        .header-nav__link {
          position: relative;
          font-size: clamp(1rem, 0.8vw, 1.4rem);
          font-weight: 500;
        }
        .header-nav__link > p {
          position: relative;
          display: block;
          padding-right: 18px;
          cursor: pointer;
        }

        .header-nav__link > p::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0px;
          width: 10px;
          height: 10px;
          margin: auto;
          border-top: 2px solid $primary-color;
          border-right: 2px solid $primary-color;
          transform: translateY(-2px) rotate(135deg);
          box-sizing: border-box;
        }

        .header-nav__dropDown {
          position: absolute;
          top: 40px;
          left: 0;
          width: 240px;
          background-color: #f0ede8;
          opacity: 0;
          visibility: hidden;
          transform: translateY(0);
          transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

          p {
            padding: 6px;
            font-size: 1.5rem;
          }

          li {
            font-size: 1.5rem;
            text-align: left;

            a {
              padding: 0 14px;
              font-size: 1.3rem;
              border-top: 1px solid #e8e8e8;
              transition: color 1s;
              background-color: $base-color;
              color: $primary-color;
            }

            a:hover,
            a:focus {
              background-color: $primary-color;
              color: $base-color;
            }
          }
        }

        .header-nav__link:hover .header-nav__dropDown,
        .header-nav__link:focus .header-nav__dropDown {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      .header-nav__contact {
        display: flex;
        gap: 16px;
        align-items: center;
      }

      .header-contact {
        display: flex;
        gap: 37px;
        align-items: center;
        letter-spacing: 0.15em;

        a {
          display: flex;
          align-items: center;
          padding: 0;
          font-size: 1.5rem;
          font-weight: 500;
        }

        img {
          display: inline-block;
          vertical-align: middle;
          padding-right: 5px;
        }
      }
    }
    .header-nav__contact {
      .header-nav__tel {
        display: flex;
        align-items: center;
        gap: 7px;
        margin-bottom: 8px;

        a {
          font-size: 26px;
        }
      }

      span {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .header-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
    background: $green-color;
    border-radius: 50%;
    position: relative;
  }

  .header-button span.header-button__line {
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-button.is-active {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    span.header-button__line {
      width: 40px;
      background-color: $green-color;
    }
  }
  .header-button,
  .header-button span {
    display: inline-block;
    transition: all 0.5s;
    box-sizing: border-box;
  }

  .header-button span:nth-of-type(1) {
    top: 19px;
  }
  .header-button span:nth-of-type(2) {
    top: 50%;
  }
  .header-button span:nth-of-type(3) {
    bottom: 19px;
  }

  #menu-button.is-active span:nth-of-type(1) {
    transform: translate(-50%, 5px) rotate(-45deg);
  }
  #menu-button.is-active span:nth-of-type(2) {
    opacity: 0;
  }
  #menu-button.is-active span:nth-of-type(3) {
    transform: translate(-50%, -5px) rotate(45deg);
  }

  .header-open__menu {
    position: fixed;
    right: 0px;
    top: 0;
    left: 200%;
    transform: translateX(100%);
    transition: opacity 0.8s ease, transform 0.8s ease;
    opacity: 0;
    width: 0;
    z-index: 2000;

    .header-open__container {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 100vh;
      margin-left: auto;
      padding: 0;

      @include max-screen($breakpoint-sm) {
        flex-direction: column;
      }

      .header-open__right,
      .header-open__left {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header-open__left {
        flex: 1;
        align-items: center;
        padding-top: 60px;
        background-color: #fff;

        @include max-screen($breakpoint-md) {
          flex: none;
          width: 40%;
        }
        @include max-screen($breakpoint-sm) {
          width: 100%;
          text-align: left;
          display: block;
          padding: 20px 5% 0;
          background-color: $base-color;
        }

        img {
          max-width: 100%;
          width: 154px;

          @include max-screen($breakpoint-md) {
            width: 100px;
          }
          @include max-screen($breakpoint-sm) {
            width: 81px;
          }
        }
      }

      .header-open__right {
        flex: 1;
        background-color: $base-color;
        @include max-screen($breakpoint-md) {
          gap: 64px;
        }
        @include max-screen($breakpoint-sm) {
          padding-top: 70px;
        }

        .header-open__right__container {
          width: 100%;
          gap: 68px;
          display: flex;
          padding: 57px 60px 47px 75px;
          flex-direction: column;

          @include max-screen($breakpoint-lg) {
            padding: 40px 5% 50px;
          }

          @include max-screen($breakpoint-md) {
            gap: 40px;
          }
          @include max-screen($breakpoint-sm) {
            flex-direction: column;
            gap: 90px;
            width: 100%;
            padding: 0px 5% 40px;
          }
          @include max-screen($breakpoint-s) {
            gap: 40px;
          }
        }

        .header-open__right--logo {
          @include max-screen($breakpoint-md) {
            width: 77px;
          }
        }

        .header-open__nav {
          display: flex;
          gap: 40px 20px;
          border: none;
          padding: 0;

          .header-open__list:nth-child(1) {
            li:first-child {
              font-weight: 700;
            }
          }
          .header-open__list {
            display: flex;
            gap: 28px;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;

            @include max-screen($breakpoint-md) {
              gap: 24px;
            }
            @include max-screen($breakpoint-s) {
              gap: 14px;
            }

            li {
              position: relative;

              .header-child__menu {
                margin-top: 12px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                border-left: 1px solid #00523f;

                li {
                  padding-left: 1.6rem;

                  a {
                    padding: 0;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1;
                    @include max-screen(350px) {
                      font-size: 1.2rem;
                    }
                  }
                }
              }
            }
            li a,
            li div {
              position: relative;
              display: inline-block;
              width: 100%;
            }
          }
        }

        .header-open__contact {
          display: flex;
          flex-direction: column;
          gap: 24px;
          margin-right: auto;

          @include max-screen($breakpoint-sm) {
            gap: 24px;
            max-width: 100%;
            margin-inline: auto;
            margin-top: 0;
          }

          .header-open__contact--item {
            text-align: center;
          }

          .header-open__contact--btn {
            display: block;
          }

          .header-open__contact--phone {
            align-items: flex-start;
            display: flex;
            flex-direction: column;

            @include max-screen($breakpoint-sm) {
              align-items: center;
            }

            .header-open__contact--title {
              align-items: center;
              font-size: 1.4rem;
              font-weight: 700;
              margin-bottom: 16px;
            }

            p {
              display: flex;
              align-items: center;
            }

            a {
              font-size: 3rem;
              font-weight: bold;
            }

            img {
              margin-right: 8px;
            }
          }

          .header-open__contact--time {
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.075em;

            @include max-screen($breakpoint-sm) {
              font-size: 1.4rem;
            }
          }

          .header-open__contact--mail {
            .header-open__contact--title {
              display: flex;
              align-items: center;
              font-size: 1.6rem;
              font-weight: 700;
              gap: 12px;
              justify-content: center;
              img {
                width: 40px;
              }
            }

            a {
              display: block;
              border: 2px solid;
              border-radius: 8px;
              padding: 30px 18px;
              background-color: #fff;
              color: $primary-color;

              @include max-screen($breakpoint-sm) {
                display: block;
                border: 2px solid;
                border-radius: 8px;
                padding: 30px 18px;
              }
            }

            img {
              margin-right: 8px;
              vertical-align: sub;
            }
          }
        }
      }
    }
  }

  .header-open__menu.is-open {
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    transform: translateX(0);
    visibility: visible;

    @include max-screen($breakpoint-lg) {
      max-height: 100vh;
    }
  }
}

/* =================================================================
  下層ページ共通パーツ
================================================================= */
.c-pagehead-set {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	aspect-ratio: 4.6;
	width: 100%;
  max-width: 1360px;
  margin-inline: auto;
  margin-bottom: 40px;
	padding: 0;
  border-radius: 16px;
	z-index: 0;
	@include max-screen($breakpoint-sm) {
		height: 200px;
	}
	@include max-screen($breakpoint-s) {
		height: 120px;
	}
  
	.c-pagehead-text {
		position: absolute;
		top: 50%;
		left: 48px;
		transform: translateY(-50%);
		text-align: left;
    color: #fff;
		@include max-screen($breakpoint-sm) {
			left: 4%
		}
	
		p {
			display: inline-block;
			margin-bottom: 10px;
			padding: 16px 24px;
			font-size: 3rem;
			font-weight: 700;
			text-transform:uppercase;
			letter-spacing: 0.01em;
			background-color: $green-color;
      border-radius: 8px;
			@include max-screen($breakpoint-sm) {
				margin-bottom: 8px;
				padding: 10px;
				font-size: 1.3rem;
			}
		}
  
		h1 {
      margin-bottom: 10px;
			padding: 16px 24px;
			font-size: 3rem;
			letter-spacing: 0.05em;
			background-color: $green-color;
      border-radius: 8px;
			@include max-screen($breakpoint-sm) {
				padding: 10px;
				font-size: 1.6rem;
			}
		}
  }
}

.c-parts-sec {
	position: relative;
  padding: 80px 0;
	font-weight: 500;
	text-align: center;
  @include max-screen($breakpoint-sm) {
    padding: 60px 0;
  }
  
	.c-parts-sec__title {
    display: flex;
    margin-bottom: 36px;
    flex-direction: column;
    gap: 24px;
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.8;
    color: $green-color;
    @include max-screen($breakpoint-sm) {
      font-size: 2rem;
    }
	}

	.c-parts-sec__lead {
		font-size: 1.6rem;
    line-height: 2;
    font-weight: 700;
		@include max-screen($breakpoint-s) {
			text-align: left;
			background: unset;
		}
	}
}

.c-parts-check {
  padding: 80px 0;
  text-align: center;
  @include max-screen($breakpoint-sm) {
    padding: 60px 0;
  }

  .c-parts-check__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 840px;
    margin-inline: auto;
    margin-bottom: 40px;
    font-weight: 500;
    line-height: 1.7;
    text-align: left;

    li {
      display: flex;
      flex: 0 0 48%;
      align-items: center;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 50px;

      @include max-screen($breakpoint-sm) {
        flex: 100%;
      }

      p {
        position: relative;
        padding-left: 30px;
        font-size: 1.6rem;
        font-weight: 700;
        color: $base-text;
      }
      p::before {
        content: "";
        position: absolute;
        top: 43%;
        left: -3px;
        transform: translateY(-50%) rotate(-45deg) translateX(0);
        width: 15px;
        height: 10px;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff;
        z-index: 1;
      }
      p::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        left: -10px;
        top: 50%;
        background-color: $green-color;
        border-radius: 24px;
        transform: translateY(-50%);
      }
    }    
  }
}

.c-2col {
  padding: 80px 0;
  @include max-screen($breakpoint-sm) {
    padding: 60px 0;
  }

  .c-2col__list {
    display: flex;
    flex-direction: column;

    .c-2col__item {
      display: grid;
      background-color: #fff;
      border-radius: 16px;
      @include max-screen($breakpoint-md) {
        grid-template-columns: 1fr;
      }

      .c-2col__item--img {
        position: relative;

        img {
          position: relative;
          width: 100%;
          height: auto;
          object-fit: cover;
          z-index: 2;
        }
      }

      .c-2col__item--body {
        display: flex;
        flex-direction: column;
        font-weight: 700;

        .c-2col__item--label {
          color: $orange-color;
          font-family: $font-Work-sans;
          font-size: 3rem;
          font-weight: 500;
          letter-spacing: 0.2em;
          line-height: 1;
        }

        .c-2col__item--title {
          color: $primary-color;
          font-size: 3rem;
          @include max-screen($breakpoint-md) {
            font-size: 2rem;
          }
        }

        .c-2col__item--tag {
          width: fit-content;
          padding: 10px;
          font-size: 1.6rem;
          color: #fff;
          background-color: $primary-color;
          border-radius: 8px;
        }

        .c-2col__item--text {
          font-size: 1.8rem;
          color: $base-text;
          line-height: 1.8;
        }
      }
    }
  }
}

.c-2col_media {

  .c-2col__list {
    gap: 24px;

    .c-2col__item {
      grid-template-columns: minmax(0, 640px) 1fr;
      gap: 66px;
      padding: 40px 36px 40px 24px;
      border: 1px solid #DADADA;
      @include max-screen($breakpoint-lg) {
        grid-template-columns: minmax(0, 560px) 1fr;
      }
      @include max-screen($breakpoint-md) {
        grid-template-columns: 1fr;
        padding: 5%;
      }
      @include max-screen($breakpoint-s) {
        gap: 34px;
        padding: 24px 16px;
      }

      .c-2col__item--img {
        aspect-ratio: 640 / 455;
        @include max-screen($breakpoint-sm) {
          max-width: 620px;
          margin-inline: auto;
        }
        @include max-screen($breakpoint-s) {
          aspect-ratio: auto;
        }

        img {
          border-radius: 16px;
          overflow: hidden;
          height: 100%;
          @include max-screen($breakpoint-sm) {
            border-radius: 8px;
          }
        }
      }
      .c-2col__item--img::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: -12px;
        bottom: -17px;
        background-image: url("../img/pattern-plus.png");
        background-size: 5px 5px;
        background-repeat: repeat;
        border-radius: 8px;
        z-index: 1;
        @include max-screen($breakpoint-sm) {
          right: -5px;
          bottom: -6px;
        }
      }

      .c-2col__item--illust {
        margin-left: auto;
        margin-right: 22px;
      }

      .c-2col__item--body {
        gap: 32px;
        margin-top: 36px;
        @include max-screen($breakpoint-sm) {
          gap: 16px;
          margin-top: 0;
        }

        .c-2col__item--label {
          @include max-screen($breakpoint-sm) {
            font-size: 2rem;
          }
        }

        .c-2col__item--title {
          @include max-screen($breakpoint-sm) {
            font-size: 2rem;
            line-height: 1.6;
          }
        }
        .c-2col__item--tag {
          @include max-screen($breakpoint-sm) {
            margin-bottom: 24px;
          }
        }
        .c-2col__item--text {
          @include max-screen($breakpoint-sm) {
            font-size: 1.4rem;
            line-height: 1.78;
          }
        }
      }
    }

    .c-2col__item:nth-child(1) .c-2col__item--illust {
      max-width: 265px;
      @include max-screen($breakpoint-sm) {
        max-width: 180px;
      }
    }
    .c-2col__item:nth-child(2) .c-2col__item--illust {
      max-width: 215px;
      @include max-screen($breakpoint-sm) {
        max-width: 180px;
      }
    }
    .c-2col__item:nth-child(3) .c-2col__item--illust {
      max-width: 255px;
      @include max-screen($breakpoint-sm) {
        max-width: 180px;
      }
    }
  }
}

.c-2col_square {

  .c-2col__list {
    gap: 40px;
    @include max-screen($breakpoint-sm) {
      gap: 24px;
    }

    .c-2col__item {
      grid-template-columns: minmax(0, 400px) 1fr;
      gap: 40px;
      padding: 24px;
      overflow: hidden;
      @include max-screen($breakpoint-md) {
        grid-template-columns: minmax(0, 200px) 1fr;
      }
      @include max-screen($breakpoint-s) {
        grid-template-columns: 1fr;
        gap: 34px;
        padding: 24px 16px;
      }

      .c-2col__item--img {
        aspect-ratio: 5 / 4;
        overflow: hidden;
        border-radius: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .c-2col__item--body {
        gap: 32px;
        margin: 36px 0;
        padding-right: 16px;
        @include max-screen($breakpoint-sm) {
          margin: 0;
          padding-right: 0;
        }

        .c-2col__item--title {
          @include max-screen($breakpoint-sm) {
            font-size: 2rem;
            line-height: 1.6;
          }
        }
        .c-2col__item--text {
          @include max-screen($breakpoint-sm) {
            font-size: 1.4rem;
            line-height: 1.78;
          }
        }
      }
    } 
  }
}

.c-2col_reverse {

  .c-2col__list {
    gap: 24px;

    .c-2col__item {
      display: flex;
      flex-direction: row;
      gap: 56px;
      padding: 40px 36px 40px 24px;
      @include max-screen($breakpoint-md) {
        flex-direction: column;
        padding: 5%;
      }
      @include max-screen($breakpoint-s) {
        gap: 34px;
        padding: 24px 16px;
      }

      .c-2col__item--img {
        aspect-ratio: 640 / 455;
        @include max-screen($breakpoint-sm) {
          max-width: 620px;
          margin-inline: auto;
        }
        @include max-screen($breakpoint-s) {
          aspect-ratio: auto;
        }

        img {
          border-radius: 16px;
          overflow: hidden;
          height: 100%;
          @include max-screen($breakpoint-sm) {
            border-radius: 8px;
          }
        }
      }
    }
    .c-2col__item:nth-of-type(even) {
      flex-direction: row-reverse;
      @include max-screen($breakpoint-md) {
        flex-direction: column;
      }
    }

      .c-2col__item--body {
        gap: 32px;
        margin-top: 36px;
        @include max-screen($breakpoint-sm) {
          gap: 16px;
          margin-top: 0;
        }

        .c-2col__item--label {
          @include max-screen($breakpoint-sm) {
            font-size: 2rem;
          }
        }

        .c-2col__item--title {
          @include max-screen($breakpoint-sm) {
            font-size: 2rem;
            line-height: 1.6;
          }
        }
        .c-2col__item--tag {
          @include max-screen($breakpoint-sm) {
            margin-bottom: 24px;
          }
        }
        .c-2col__item--text {
          @include max-screen($breakpoint-sm) {
            font-size: 1.4rem;
            line-height: 1.78;
          }
        }
      }
    }

    .c-2col__item:nth-child(1) .c-2col__item--illust {
      max-width: 265px;
      @include max-screen($breakpoint-sm) {
        max-width: 180px;
      }
    }
    .c-2col__item:nth-child(2) .c-2col__item--illust {
      max-width: 215px;
      @include max-screen($breakpoint-sm) {
        max-width: 180px;
      }
    }
    .c-2col__item:nth-child(3) .c-2col__item--illust {
      max-width: 255px;
      @include max-screen($breakpoint-sm) {
        max-width: 180px;
      }
    }
  }

.c-3col {
  padding: 80px 0;
  @include max-screen($breakpoint-sm) {
    padding: 60px 0;
  }

  .l-container {
    max-width: 1080px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .c-3col__head {
    text-align: center;
    margin-bottom: 80px;
    @include max-screen($breakpoint-sm) {
      margin-bottom: 60px;
    }
  }

  .c-3col__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include max-screen($breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include max-screen($breakpoint-s) {
      grid-template-columns: 1fr;
    }

    .c-3col__item {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 16px;
      overflow: hidden;

      .c-3col__item--img {
        position: relative;
        aspect-ratio: 340 / 227;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .c-3col__item--body {
        padding: 16px;
        
        // カテゴリータグ
        .c-3col__item--tag {
          display: inline-block;
          padding: 8px;
          border-radius: 50px;
          font-size: 1rem;
          font-weight: 700;
          color: #fff;
          background-color: $primary-color;
        }
        .c-3col__item--meta {
          display: inline-block;
          padding: 0 16px;
          font-size: 1.4rem;
        }
        .c-3col__item--title {
          margin-top: 24px;
          margin-bottom: 24px;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .c-3col__item--text {
          font-size: 1.4rem;
          line-height: 1.5;
        }
      }      
    }
  }
  .c-3col__btn {
    margin-top: 80px;
    @include max-screen($breakpoint-sm) {
      margin-top: 80px;
    }
  }
}

.c-flow-slim {
  padding: 80px 0;
  text-align: center;
  @include max-screen($breakpoint-sm) {
    padding: 60px 0;
  }

  .c-flow-slim__head {
    margin-bottom: 80px;
    text-align: center;
    @include max-screen($breakpoint-sm) {
      margin-bottom: 60px;
    }
  }

  .c-flow-slim__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 840px;
    margin-inline: auto;
    margin-bottom: 60px;

    .c-flow-slim__item {
      position: relative;
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 20px 40px;
      background: #FFF;
      border-radius: 16px;
      @include max-screen($breakpoint-sm) {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
      }

      .c-flow-slim__step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 80px;
        width: 80px;
        height: 80px;
        font-size: 1.2rem;
        line-height: 1;
        color: #FFF;
        border-radius: 50%;
        background-color: $green-color;
        @include max-screen($breakpoint-sm) {
          margin-inline: auto;
        }

        span {
          margin-top: 4px;
          font-size: 3.2rem;
        }
      }

      .c-flow-slim__content {
        text-align: left;

        .c-flow-slim__heading {
          margin-bottom: 14px;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.3;
          letter-spacing: 0.05em;
          color: $green-color;
          @include max-screen($breakpoint-sm) {
            text-align: center;
          }
        }

        .c-flow-slim__desc {
          line-height: 1.73;
        }
      }
    }
    .c-flow-slim__item:nth-of-type(even) {
      .c-flow-slim__step {
        background-color: $orange-color;
      }
      .c-flow-slim__content {
        .c-flow-slim__heading {
          color: $orange-color;
        }
      }
    }
    .c-flow-slim__item:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -23px;
      transform: translateX(-50%);
      width: 46px;
      height: 24px;
      background-color: #FFF;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
    }
  }
  .c-3col__list .c-3col__item .c-3col__item--body .c-3col__item--title {
    margin-top: 0;
  }
}

/* =================================================================
  c-service / サービス
================================================================= */
.c-service {
  padding: 80px 0 120px;
  background-color: #F1EBDF;
  overflow-x: clip;
  @include max-screen($breakpoint-sm) {
    padding: 60px 0;
  }

  .c-service__head {
    position: relative;
  }

  .c-service__head::before {
    content: "";
    position: absolute;
    position: absolute;
    top: -87px;
    left: 22%;
    width: 256px;
    aspect-ratio: 256 / 113;
    background-image: url("../img/c-service-illust-img1.png");
    background-size: contain;
    background-repeat: no-repeat;
    @include max-screen($breakpoint-md) {
      left: 5%;
      width: 200px;
    }
    @include max-screen($breakpoint-s) {
      top: -88px;
      left: 16px;
      width: 133px;
    }
  }
  .c-service__head::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 25%;
    width: 132px;
    aspect-ratio: 132 / 80;
    background-image: url("../img/c-service-illust-img2.png");
    background-size: contain;
    background-repeat: no-repeat;
    @include max-screen($breakpoint-md) {
      right: 5%;
      width: 108px;
    }
    @include max-screen($breakpoint-s) {
      top: -20px;
      right: 16px;
      width: 89px;
    }
  }

  .l-container {
    width: 1280px;
    max-width: 100%;

    .c-service__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 43px;
      @include max-screen($breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include max-screen($breakpoint-s) {
        grid-template-columns: 1fr;
        gap: 34px;
      }

      .c-service__card {
        border-radius: 16px;
        overflow: hidden;
        background-color: #fff;

        .c-service__figure {
          @include max-screen($breakpoint-sm) {
            aspect-ratio: 16 / 9;
            overflow: hidden;
          }

          img {
            @include max-screen($breakpoint-sm) {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              display: block;
            }
          }
        }

        .c-service__card--body {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 30px 24px;
          @include max-screen($breakpoint-sm) {
            margin: 20px 16px;
          }

          .c-service__card--title {
            font-size: 2.4rem;
            font-weight: 700;
            text-align: center;
            color: $primary-color;
            @include max-screen($breakpoint-sm) {
              font-size: 2rem;
            }
          }

          .c-service__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            background-color: $green-color;
            transform: rotate(90deg);
            @include max-screen($breakpoint-sm) {
              width: 32px;
              height: 32px;
            }
          }
          .c-service__button:hover {
            border: 1px solid $green-color;
            background-color: #fff;
          }
          .c-service__button:hover path {
            fill: $green-color;
          }
        }
      }
    }
  }
  .c-service__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $green-color;
    transform: rotate(90deg);
    @include max-screen($breakpoint-sm) {
      width: 32px;
      height: 32px;
    }
  }
  .c-service__button:hover {
    border: 1px solid $green-color;
    background-color: #fff;
  }
  .c-service__button:hover path {
    fill: $green-color;
  }
}

/* =================================================================
  c-faq / よくあるご質問共通パーツ
================================================================= */
.c-faq {
  padding: 80px 0;
  background-color: #FFF;
  @include max-screen($breakpoint-sm) {
    padding: 60px 0;
  }
  
  .c-faq__btn {
    margin-top: 60px;
  }
  .c-faq__inner {
    margin-top: 60px;
    padding: 0 40px;
  }

  .c-faq__list {
    margin: 0;
  }

  .c-faq__item {
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #DADADA;
  }

  .c-faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 32px;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 500;
    text-align: left;
    color: $green-color;
  }

  /* "Q" の文字 */
  .c-faq__question::before {
    content: "Q";
    display: flex;
    justify-content: center;
    width: 40px;
    height: auto;
    margin-right: 24px;
    font-family: $font-Work-sans;
    font-size: 4rem;
    font-weight: 700;
    color: $green-color;
  }
  
  .c-faq__question .c-faq__question--title {
    flex: 1;
  }

  .c-faq__question--arrows {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: $green-color;
    border-radius: 50%;

    .c-faq__question-right {
      display: inline-block;
      vertical-align: middle;
      color: #FFF;
      line-height: 1;
      position: absolute;
      top: 45%;
      left: 50%;
      width: 0.6em;
      height: 0.6em;
      transition: transform 0.5s ease;
      transform: translate(-50%, -50%) rotate(135deg);
    }
    .c-faq__question-right::before,
    .c-faq__question-right::after{
      content: '';
      position: absolute;
      background: currentColor;
      border-radius: 0.1em;
    }
    .c-faq__question-right::before {
      top: 0;
      left: 0;
      right: 0;
      height: 0.1em;
    }
    .c-faq__question-right::after {
      top: 0;
      right: 0;
      bottom: 0;
      width: 0.1em;
    }
  }

  /* 開いている時の矢印 */
  .c-faq__item.is-open .c-faq__question-right {
    top: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .c-faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .c-faq__item.is-open .c-faq__answer {
    max-height: max-content;
  }

  .c-faq__answer p {
    display: flex;
    align-items: start;
    margin: 0;
    padding: 40px 32px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
  }

  /* "A" の文字 */
  .c-faq__answer p::before {
    content: "A";
    display: flex;
    flex: 0 0 40px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 24px;
    font-family: $font-Work-sans;
    font-size: 4rem;
    font-weight: 700;
    color: $orange-color;
  }

  //================================================
  // レスポンシブ
  //================================================
  @include max-screen($breakpoint-sm) {
    .c-faq__inner {
      padding: 0;
    }
    .c-faq__question {
      font-size: 1.5rem;
      padding: 10px;
    }
    .c-faq__question::before,
    .c-faq__answer p::before {
      font-size: 2rem;
      margin-right: 0;
    }
    .c-faq__answer p {
      font-size: 1.5rem;
      padding: 10px;
    }
    .c-faq__question--arrows {
      width: 30px;
      height: 30px;
    }
  }

  @include max-screen($breakpoint-xs) {
    .c-faq__question {
      font-size: 1.4rem;
    }
    .c-faq__item {
      padding: 10px 0;
    }
    .c-faq__item.is-open .c-faq__answer {
      padding-top: 32px;
    }
    .c-faq__answer p {
      font-size: 1.4rem;
    }
  }
}


/* =================================================================
  page-about / たかやしろ住研について
================================================================= */
.page-about {
  .l-main{
    padding: 0;
  }

  .c-pagehead-set {
		background-image: url(../img/about-mv-bg.jpg);
		@include max-screen($breakpoint-lg) {
			border-left: 0;
		}
	}

  .l-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .about-reason {
    padding: 60px 0;
    background-color: $base-color;

    .c-title {
      position: relative;
    }
    .c-title::before {
      content: "";
      position: absolute;
      top: -42px;
      left: 7.2%;
      width: 247px;
      aspect-ratio: 247 / 136;
      background-image: url("../img/about-reason-title-illust-img1.png");
      background-size: contain;
      background-repeat: no-repeat;
      @include max-screen($breakpoint-sm) {
        top: -48px;
        left: 10%;
        width: 165px;
      }
      @include max-screen($breakpoint-s) {
        top: -78px;
        left: 13px;
        width: 125px;
      }
    }

    .l-container {
      width: 1280px;
      max-width: 100%;
    }
  }

  .about-commitment {
    padding: 80px 0 100px;
    background-color: #F1EBDF;
    @include max-screen($breakpoint-sm) {
      padding: 60px 0;
    }

    .l-container {
      width: 1280px;
      max-width: 100%;
    }
  }

  .about-message {
    display: flex;
    padding: 100px 0;
    @include max-screen($breakpoint-sm) {
      padding: 40px 0 82px;
    }

    .l-container {
      display: flex;
      gap: 75px;
      width: 1280px;
      max-width: 100%;
      @include max-screen($breakpoint-lg) {
        flex-direction: column;
        gap: 40px;
      }

      .about-message__left {
        flex: 1;

        .c-title {
          margin-bottom: 40px;
          text-align: left;

          .c-title--en {
            position: relative;
            display: inline-block;
            font-size: 3rem;
            font-weight: 500;
            font-family: $font-Work-sans;
            color: $orange-color;
            letter-spacing: 0.2em;
            line-height: 1;
            @include max-screen($breakpoint-sm) {
              display: block;
              margin-bottom: 30px;
              font-size: 2rem;
            }
          }
          .c-title--en::after {
            content: "";
            position: absolute;
            top: -14px;
            left: 240px;
            width: 113px;
            aspect-ratio: 113 / 100;
            background-image: url("../img/about-message-illust-img1.png");
            background-size: contain;
            background-repeat: no-repeat;
            @include max-screen($breakpoint-s) {
              top: -32px;
              right: 20px;
              width: 112px;
            }
          }

          .c-title--jp {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 56px;
            font-size: 3.6rem;
            font-weight: 500;
            letter-spacing: 0.05em;
            line-height: 1.8;
            color: $primary-color;
            @include max-screen($breakpoint-sm) {
              font-size: 2rem;
            }
          }
          .c-title__desc {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2;
          }
        }
        .about-message__rep {
          width: fit-content;
          padding: 0px 10px;
          color: #fff;
          background-color: $primary-color;
          border-radius: 8px;

          @include max-screen($breakpoint-s) {
            width: 100%;
            padding: 1px 10px 2px;
          }

          .about-message__rep--label {
            padding-right: 3px;
            font-weight: 700;
          }
          .about-message__name--jp {
            padding-right: 3px;
            font-size: 2.4rem;
            font-weight: 700;
            @include max-screen($breakpoint-lg) {
              font-size: 2.1rem;
            }
          }
          .about-message__name--en {
            font-size: 1.5rem;
            font-weight: 300;
          }
        }
      }
      .about-message__right {
        flex: 0 0 640px;
        @include max-screen($breakpoint-sm) {
          flex: 1;
        }
        
        .about-message__figure {
          position: relative;
          
          img {
            object-fit: cover;
            width: 100%;
            height: auto;
            border-radius: 16px;
            overflow: hidden;
          }
        }
        .about-message__figure::after {
          content: "";
          position: absolute;
          bottom: -50px;
          right: 26px;
          width: 238px;
          aspect-ratio: 238 / 184;
          background-image: url("../img/about-message-illust-img2.png");
          background-size: contain;
          background-repeat: no-repeat;
          @include max-screen($breakpoint-sm) {
            width: 142px;
            bottom: -32px;
            right: 9px;
          }
        }
      }
    }
  }
}

/* =================================================================
  page-exterior / 外壁・屋根塗装
================================================================= */
.page-exterior {
  .l-main{
    padding: 0;
  }

  .c-pagehead-set {
		background-image: url(../img/exterior-mv-bg.jpg);
		@include max-screen($breakpoint-lg) {
			border-left: 0;
		}
	}

  .l-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .c-parts-check {
    background-color: #F1EBDF;
  }

  .exterior-ifCase {
    background-color: #F1EBDF;
  }
  .exterior-work {
    .exterior-work__head {
      .c-title{
        margin-bottom: 40px;
      }
    }
    
    .c-2col__list {

      .c-2col__item {
        grid-template-columns: minmax(0, 300px) 1fr;
        padding: 40px 24px;
        align-items: center;
        gap: 56px;
        border-bottom: 3px solid #fff;
        border-radius: unset;
        background: unset;
        @include max-screen($breakpoint-md) {
          grid-template-columns: 1fr;
        }
    
        .c-2col__item--img {
          aspect-ratio: 1 / 1;
          @include max-screen($breakpoint-md) {
            max-width: 400px;
            margin-inline: auto;
          }

          img {
            border-radius: 50%;
            overflow: hidden;
            height: 100%;
          }
        }
        .c-2col__item--body {
          gap: 32px;
        }
        .c-2col__item--img::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          right: -10px;
          bottom: -10px;
          background-image: url(../img/pattern-plus.png);
          background-size: 5px 5px;
          background-repeat: repeat;
          border-radius: 50%;
          z-index: 1;
        }
      }
      .c-2col__item:last-child {
        border-bottom: unset;
      }
    }
  }
  .exterior-flow  {
    background-color: #F1EBDF;
  }
  .exterior-cases {
    padding: 80px 0;
    @include max-screen($breakpoint-sm) {
      padding: 60px 0;
    }
  }
}

/* =================================================================
  page-roofing / 外壁・屋根塗装
================================================================= */
.page-roofing {
  .l-main{
    padding: 0;
  }

  .c-pagehead-set {
		background-image: url(../img/roofing-mv-bg.jpg);
		@include max-screen($breakpoint-lg) {
			border-left: 0;
		}
	}

  .l-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .c-parts-check {
    background-color: #F1EBDF;
  }

  .roofing-ifCase {
    background-color: #F1EBDF;
  }

  .roofing-method {
    position: relative;
    padding: 80px 0;
    @include max-screen($breakpoint-sm) {
      padding: 60px 0;
    }
  
    .roofing-method__list {
      display: flex;
      flex-direction: column;
      gap: 140px;
      @include max-screen($breakpoint-sm) {
        flex-direction: column;
        gap: 40px;
      }
    
      .roofing-method__item {
        position: relative;
        display: flex;
        gap: 70px;
        @include max-screen($breakpoint-md) {
          gap: 40px;
        }   
        @include max-screen($breakpoint-sm) {
          flex-direction: column;
          width: fit-content;
          margin-inline: auto;
        }
    
        .roofing-method__img {
          position: relative;
          flex: 0 0 50%;
          border-radius: 16px;
          overflow: hidden;

          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
    
        .roofing-method__content {
          position: relative;
          font-weight: 500;
          flex: 1;

          .roofing-method__content--title {
            margin-bottom: clamp(3.2rem, 4.4vw, 5.4rem);
            font-size: clamp(2rem, 2.2vw, 2.6rem);
            color: $primary-color;
            line-height: 1.5;
            letter-spacing: 0.05em;
          }

          .roofing-method__content--text {
            font-size: clamp(1.4rem, 1.5vw, 1.6rem);
            line-height: 2;
          }
    
          .bg-number {
            position: absolute;
            font-size: clamp(67px, 17.857vw, 250px);
            font-family: $font-Work-sans;
            color: rgba(0, 82, 63, 0.1);
            z-index: -1;
            @media (max-width: $breakpoint-md) {
              top: 30px;
            }
          }
        }
      }
      .roofing-method__item:nth-child(odd) {
        .bg-number {
          right: 0;
          transform: translateY(-50%) translateX(0);
        }
      }
      .roofing-method__item:nth-child(even) {
        direction: rtl;

        > * {
          direction: ltr;
        }
    
        .bg-number {
          left: 0;
          transform: translateY(-45%) translateX(0%);

          @include max-screen($breakpoint-md) {
            left: 0;
          }
          @include max-screen($breakpoint-sm) {
            left: unset;
            right: 0;
          }
        }
      }
    }
  }

  .roofing-flow  {
    background-color: #F1EBDF;
  }
}

/* =================================================================
  page-raingutter / 雨樋工事
================================================================= */
.page-raingutter {
  .l-main{
    padding: 0;
  }

  .c-pagehead-set {
		background-image: url(../img/raingutter-mv-bg.jpg);
		@include max-screen($breakpoint-lg) {
			border-left: 0;
		}
	}

  .l-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .c-parts-check {
    background-color: #F1EBDF;
  }
  .raingutter-ifCase {
    background-color: #F1EBDF;
  }
  .raingutter-repair {
    .c-3col__list .c-3col__item .c-3col__item--body .c-3col__item--title {
      margin-top: 0;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      color: $primary-color;
    }
  }
  .raingutter-flow  {
    background-color: #F1EBDF;
  }
}

/* =================================================================
  page-price / 料金情報
================================================================= */
.page-price {
  .l-main{
    padding: 0;
  }

  .c-pagehead-set {
		background-image: url(../img/price-mv-bg.jpg);
		@include max-screen($breakpoint-lg) {
			border-left: 0;
		}
	}

  .l-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .price-info {
    padding: 80px 0;
    @include max-screen($breakpoint-sm) {
      padding: 60px 0;
    }

    .l-container {
      max-width: 100%;
      padding: 0;
    }

    .price-info__head {
      @include max-screen($breakpoint-md) {
        padding: 0 4%;
      }
    }

    .price-info__linkList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;
      @include max-screen($breakpoint-md) {
        gap: 24px;
        padding: 0 4%;
      }
      
      li {
        margin: 0 40px 10px 0;
        @include max-screen($breakpoint-md) {
          margin: 0;
        }
        @include max-screen($breakpoint-s) {
          width: 70%;
        }
      }
    }
    .priceBox {
      padding: 80px 0;
      @include max-screen($breakpoint-sm) {
        padding: 60px 0;
      }

      .price-info--jp {
        display: flex;
        margin-bottom: 24px;
        flex-direction: column;
        gap: 24px;
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.05em;
        color: $primary-color;
      }
      .price-info--en {
        display: block;
        margin-bottom: 80px;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: "Work Sans", sans-serif;
        color: $orange-color;
        letter-spacing: 0.2em;
        text-align: center;
        line-height: 1;
      }

      .price-info__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        max-width: 1200px;
        margin-inline: auto;
        @include max-screen($breakpoint-md) {
          grid-template-columns: 1fr;
          padding: 0 4%;
        }

        .price-info__item {
          display: grid;
          grid-template-columns: minmax(0, 180px) 1fr;
          gap: 23px;
          padding: 16px;
          background: #fff;
          border-radius: 8px;
          border: 1px solid #DADADA;
          box-shadow: 6px 7px 0px 0px #00000040;
          @include max-screen($breakpoint-lg) {
            grid-template-columns: minmax(0, 300px) 1fr;
          }
          @include max-screen($breakpoint-md) {
            grid-template-columns: minmax(0, 200px) 1fr;
          }
          @include max-screen($breakpoint-sm) {
            grid-template-columns: 1fr;
          }

          .price-info__item--img {
            border-radius: 8px;
            overflow: hidden;

            img {
              aspect-ratio: 180 / 203;
              height: 100%;
              object-fit: cover;
              @include max-screen($breakpoint-sm) {
                aspect-ratio: 3 / 2;
              }
            }
          }

          .price-info__item--body {
            .price-info__item--title {
              display: block;
              margin: 16px 0;
              font-weight: 700;
              font-size: 2rem;
              color: $primary-color;
            }
  
            .price-info__item--text {
              margin-bottom: 40px;
              font-weight: 500;
            }
            .price-info__item--price {
              margin-bottom: 4px;
              font-size: 4rem;
              font-weight: 700;
              color: $orange-color;
  
              span {
                font-size: 2.6rem;
              }
            }
            .price-info__item--tax {
              color: $orange-color;
            }
          }
        }
      }
    }
    .priceBox:nth-of-type(even) {
      background: #f1ebdf;
    }
  }
}